
<!--<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('alcohol-beverage-black-background-1028637.jpg')">-->
  <div class="banner">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-primary" href="#">Apply now</a>
  </div>
</div>

<%= image_tag 'alcohol-beverage-black-background-1028637.jpg', alt: "Le Wagon", width: 200 %>

